---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}

    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    <meta name="description" content="只野竣也 (Shunya Tadano) - A master student in Robotics at Tohoku University">
    <meta name="keywords" content="只野竣也, Shunya Tadano, Robotics, Tohoku University, Research">
    <meta name="author" content="只野竣也 (Shunya Tadano)">

  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
