---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}

    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
  </head>

  <body>
    <header>
      <h1>
        {% assign name_parts = site.author.name | split: ' (' %}
        {{ name_parts[0] }}<br>
        ({{ name_parts[1] | replace: ')', '' }})
      </h1>
    </header>
    
    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
